/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/.sqlite
/database/database.sqlite
/storage/*.key
/homestead.json
/homestead.yaml
/npm-debug.log
/yarn-error.log
/.idea
/.vscode
*.swp
*.swo
.DS_Store
Thumbs.db
